
Assignments/Team Lead/dummy
Assignments/Team Member 1/dummy
Assignments/Team Member 2/dummy
Assignments/Team Member 3/dummy
Assignments/Team Member 4/dummy
Final Deliverables/dummy
Project Design & Planning/Ideation Phase/dummy
Project Design & Planning/Project Design Phase I/dummy
Project Design & Planning/Project Design Phase II/dummy
Project Design & Planning/Project Planning/dummy
Project Developement Phase/Sprint 1/dummy
Project Developement Phase/Sprint 2/dummy
Project Developement Phase/Sprint 3/dummy
Project Developement Phase/Sprint 4/dummy
